@import "/src/config/theme/colors.scss";

.feedbackCard {
    width: 600px;
    height: 425px;
    padding: 50px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    p {
        font-style: italic;
        line-height: 24px;
    }
    svg {
        color: $primaryYellow
    }
   .feedbackCard__content {
    width: 100%;
    display: flex;
    align-items: center;
    svg {
        margin-left:auto;
    }
    img {
        border-radius: 50%;
        margin-right: 10px;
    }
    .feedbackCard__title {
        h5 {
            font-size: 20px;
        }
        p {
            font-size: 16px;
            font-style: normal;
        }
    }
   }
}