* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
button, input, svg {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}