$primaryYellow: #ffbe34;
$primaryDarkBlue: #091242;
$secondary: #f4f4f4;
$title: #1c1f35;
$text: #666c89;
$gradient: linear-gradient(
  94deg,
  #ffb629 -1.21%,
  #ffda56 50.75%,
  #ffd7a6 102.71%
);
$white: #ffffff;
$black: #000000;
$secondaryBlue: #1F2A69;
$borderColor: #D8D8D8;
